/********* COLORS **********/
$color-primary: #db8785;
$color-secondary: #90dbca;
$color-tertiary: #9ab4f8;
$color-grey: #828282;

$text-color: #4f4f4f;

/********* FONT ************/
$font-display: 'Playfair Display', serif;
$font-text: 'Roboto', sans-serif;
