.section-wrapper {
  overflow: hidden;
}

.about {
  display: grid;
  grid-template-rows: 35rem 1fr;
  grid-template-columns: 55% 45%;
  align-items: start;
  margin: 7rem 5rem 7rem 14rem;

  @include respond(tab-port) {
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 95vw;
    row-gap: 10rem;
    margin: 5rem;
  }

  @include respond(phone) {
    margin: 2rem;
    row-gap: 5rem;
  }

  &__title-container {
    background-color: $color-primary;
    height: 8rem;
    display: flex;
    align-items: center;
    width: max-content;
    padding-right: 5rem;
  }

  &__text {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    color: $text-color;

    @include respond(tab-port) {
      margin-right: 5rem;
    }
  }

  &__title {
    padding-left: 2rem;
    padding-top: 2rem;
    color: $text-color;
    grid-column: 2 / 3;
  }

  &__feat {
    color: $color-secondary;
    font-size: 2.5rem;
  }

  &__content {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;

    font-size: 2.5rem;
    font-weight: 400;
    font-family: font-display;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__skills {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-right: 10rem;

    @include respond(tab-port) {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      padding-left: 0;
      justify-self: center;
    }

    > img {
      max-height: 50rem;
      max-width: 50rem;
      transform: translateY(-15rem);
      object-fit: cover;

      @include respond(tab-land) {
        transform: translate(-10rem, -15rem);
      }

      @include respond(tab-port) {
        transform: translateY(0);
        transform: translateX(0);
        max-width: 95vw;
      }
    }
  }

  &__education {
    transform: translateX(-8rem);

    @include respond(tab-land) {
      transform: translateX(0);
    }

    @include respond(tab-port) {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
  }

  &__experience {
    align-self: end;
    @include respond(tab-port) {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      padding-left: 0;
    }
  }

  &__list {
    list-style: none;
    color: $text-color;
    font-family: $font-text;
    font-size: 1.8rem;
  }

  &__item {
    color: $color-primary;
    display: inline-block;
    padding-left: 2rem;
    padding-top: 1rem;
    font-weight: 300;
  }

  &__date {
    padding-right: 2rem;
    color: $color-primary;
    padding-top: 1rem;
    font-weight: 300;
  }

  &__education,
  &__experience {
    &::before {
      content: 'Feature:';
      color: $color-secondary;
      font-size: 2.5rem;
      transform: translate(10.8rem, -0.5rem);
    }
  }
}
