.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__greeting {
    width: 60rem;
    margin-right: 5rem;
    color: $text-color;
  }

  &__yt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 75rem;
    height: 30rem;
    max-width: 35%;
    min-width: 40rem;
    background-color: $color-primary;
    color: white;

    @include respond(tab-port) {
      display: none;
    }

    & > p {
      font-weight: 400;
      font-size: 1.8rem;
      font-family: $font-text;
    }
  }

  &__button {
    margin-top: 2rem;
    background-color: white;
    color: $color-primary;
    text-transform: uppercase;
    border: none;
    padding: 2rem 4rem;
    font-weight: 500;
    font-size: 2.4rem;
    cursor: pointer;
  }
}

.header-bottom {
  overflow: hidden;
  &__title-container {
    background-color: $color-secondary;
    height: 8rem;
    display: flex;
    align-items: center;
    width: max-content;
    padding-right: 5rem;
  }

  &__music {
    margin-top: 6rem;
  }
}

.staff {
  display: block;
  position: relative;
  z-index: 0;
  border-bottom: 3px solid #e0e0e0;
  margin-bottom: 5rem;

  @include respond(phone) {
    margin-bottom: 2rem;
  }
}

.git-staff {
  display: block;
  position: absolute;
  z-index: 10;
  height: 2px;

  border-bottom: 3px solid $color-grey;

  &--1 {
    width: 100%;
  }

  /* &--2 {
    width: 10rem;
    left: 23.3rem;
  } */

  /* &--curve1 {
    display: block;
    position: absolute;

    width: 4.1rem;
    height: 3rem;
    left: 19rem;
    top: -2.7rem;

    border: solid 3px #828282;
    border-color: transparent #828282 #828282 transparent;
    border-radius: 0 0 1rem 0;
  }

  &--curve2 {
    display: block;
    position: absolute;

    width: 3.8rem;
    height: 3rem;
    left: 22.8rem;
    top: -3.8rem;

    border: solid 3px #828282;
    border-color: #828282 transparent transparent #828282;
    border-radius: 1rem 0 0 0;
  } */
}

.note {
  position: absolute;
  display: block;
  z-index: 10;
  height: 5.6rem;
  top: -5.6rem;

  @include respond(phone) {
    height: 2.5rem;
    top: -2.5rem;
  }

  &--primary {
    border-right: 5px solid $color-primary;
    background-color: $color-primary;

    @include respond(phone) {
      border-right: 3px solid $color-primary;
    }
  }

  &--secondary {
    border-right: 5px solid $color-secondary;
    background-color: $color-secondary;

    @include respond(phone) {
      border-right: 3px solid $color-secondary;
    }
  }

  &--tertiary {
    border-right: 5px solid $color-tertiary;
    background-color: $color-tertiary;

    @include respond(phone) {
      border-right: 3px solid $color-tertiary;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 30;
    width: 4rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: inherit;
    top: 4rem;
    left: -3.6rem;

    @include respond(phone) {
      width: 2rem;
      height: 1.5rem;
      top: 2rem;
      left: -1.7rem;
    }
  }

  &--1 {
    left: 6rem;

    @include respond(phone) {
      left: 4rem;
    }
  }

  &--2 {
    left: 15rem;
    @include croche;

    @include respond(phone) {
      left: 8rem;
    }
  }

  &--3 {
    left: 22rem;

    @include respond(phone) {
      left: 11rem;
    }
  }

  &--4 {
    left: 31rem;

    @include respond(phone) {
      left: 15rem;
    }
  }

  &--5 {
    left: 40rem;

    &.note--tertiary {
      @include croche;
    }

    @include respond(phone) {
      left: 19rem;
    }
  }

  &--6 {
    left: 47rem;
    @include croche;

    @include respond(phone) {
      left: 22rem;
    }
  }

  &--7 {
    left: 54rem;

    @include respond(phone) {
      left: 25rem;
    }
  }

  &--8 {
    left: 63rem;

    @include respond(phone) {
      left: 29rem;
    }
  }

  &--9 {
    left: 72rem;

    @include respond(phone) {
      left: 33rem;
    }
  }

  &--10 {
    left: 81rem;

    @include respond(phone) {
      left: 37rem;
    }
  }

  &--11 {
    left: 90rem;
    @include croche;

    @include respond(phone) {
      left: 41rem;
    }
  }

  &--12 {
    left: 97rem;

    @include respond(phone) {
      left: 44rem;
    }
  }

  &--13 {
    left: 106rem;

    @include respond(phone) {
      left: 48rem;
    }
  }

  &--14 {
    left: 115rem;
    &.note--tertiary {
      @include croche;
    }

    @include respond(phone) {
      left: 52rem;
    }
  }

  &--15 {
    left: 122rem;
    @include croche;

    @include respond(phone) {
      left: 55rem;
    }
  }

  &--16 {
    left: 129rem;

    @include respond(phone) {
      left: 58rem;
    }
  }

  &--17 {
    left: 138rem;

    @include respond(phone) {
      left: 62rem;
    }
  }

  &--18 {
    left: 147rem;

    @include respond(phone) {
      left: 66rem;
    }
  }

  &--19 {
    left: 156rem;
    @include croche;

    @include respond(phone) {
      left: 70rem;
    }
  }

  &--20 {
    left: 163rem;

    @include respond(phone) {
      left: 73rem;
    }
  }

  &--21 {
    left: 172rem;

    @include respond(phone) {
      left: 77rem;
    }
  }
}

.double-croche {
  display: block;
  position: absolute;
  border-bottom: solid 5px $color-tertiary;
  top: 1rem;
  width: 7rem;
  height: 5px;

  @include respond(phone) {
    height: 2.5px;
    border-bottom: solid 2.5px $color-tertiary;
    width: 3rem;
  }
}
