.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    font-weight: 400;
    position: relative;
    color: $color-primary;
  }

  & > p {
    font-weight: 400;
    font-size: 1.8rem;
    font-family: $font-text;
  }
}

.greeting {
  width: 60rem;
  margin-right: 5rem;
  color: $text-color;
  &__text {
    animation: moveInLeft 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.header-bottom {
  overflow: hidden;

  &__title-container {
    background-color: $color-secondary;
    height: 8rem;
    display: flex;
    align-items: center;
    width: max-content;
    padding-right: 5rem;

    animation: moveInLeft 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &__music {
    margin-top: 6rem;
  }

  &__score-wrapper {
    width: 100vw;
    animation: moveInRight 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;

    > img {
      margin-top: 7rem;
      width: 100%;

      @include respond(tab-port) {
        margin-top: 4rem;
      }

      @include respond(phone) {
        width: 200vw;
      }
    }
  }
}
